<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>REGISTER YOURSELF FOR VACCINATION DRIVE</h1>
    <form action="index1" method="post">
        <label for="idDetails">ID Details</label><br>
        <input type="text" id="idDetails" name="idDetails"><br><br>

        <label for="idType">ID Type</label><br>
        <select name="idType" id="idType">
            <option value="Aadhar">AADHAR</option>
            <option value="PanCard">PAN CARD</option>
            <option value="VoterID">VOTER ID</option>
        </select><br><br>

        <label for="name">Name</label><br>
        <input type="text" id="name" name="name"><br><br>

        <label for="contact">Contact Number</label><br>
        <input type="text" id="contact" name="contact"><br><br>

        <label for="vaccine">Vaccine Name</label><br>
        <select name="vaccine" id="vaccine">
            <option value="Covaxine">Covaxin</option>
            <option value="Covishield">Covishield</option>
            <option value="Sputnik">Sputnik</option>
        </select><br><br>
        <input type="submit" value="SUBMIT">
    </form>
</body>
</html>